<div class="container col-md-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-header text-center">
                  Project Detailes
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Id : {{values.id}}</li>
                  <li class="list-group-item">Project Id : {{values.projectId}}</li>
                  <li class="list-group-item">Project Name : {{values.projectName}}</li>
                  <li class="list-group-item">Project Head: {{values.projectHead}}</li>
                  <li class="list-group-item">Start Date: {{values.startDate}}</li>
                  <li class="list-group-item"> <button class="btn btn-warning" routerLink="/home">Back to Home</button></li>
                </ul>
              </div>
        </div>
    </div>
</div>